.front-notice {
    padding: 5px 20px;
    color: #666;
    font-size: 12px
}
.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    z-index: 10;
}
.front-header-left {
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.front-header-left img, .front-header-dropdown img {
    width: 55px;
    height: 55px;
    border-radius: 50%
}
.front-header-left .title {
    flex: 1;
    color: #355476;
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Sigmar', sans-serif;
}
.front-header-center {
    flex: 1;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/* 侧边栏样式 */
.main-body {
    display: flex;
    min-height: calc(100vh - 85px);
}

.sidebar-container {
    width: 360px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    height: calc(100vh - 85px);
    overflow-y: auto;
}

/*页面具体样式自定义*/
.main-content {
    width: calc(100% - 300px);
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 20px;
    flex: 1;
}
/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}