.front-notice {
    padding: 5px 20px;
    color: #666;
    background-color: white;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: white;
}
.front-header {
    background-color: white;
    display: flex;
    height: 80px;
    line-height: 60px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
    position: fixed;
    top: 30px; /* 让它在公告栏下方 */
    left: 0;
    width: 100%;
    margin-top: -2px;
}
.front-header-left {
    width: 320px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-right: 60px;
}
.front-header-left img, .front-header-dropdown img {
    width: 55px;
    height: 55px;
    border-radius: 50%
}
.front-header-left .title {
    flex: 1;
    color: #355476;
    cursor: pointer;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Dangrek', sans-serif;
}
.front-header-center {
    flex: 1;
    font-family: 'Sigmar', sans-serif;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/* 主内容区域样式 */
.main-body {
    display: flex;
    min-height: calc(100vh - 85px);
    margin-top: 110px; /* 添加上边距，等于公告栏和导航栏的总高度 */
}

.sidebar-container {
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 110px; /* 设置顶部位置，等于公告栏和导航栏的总高度 */
    height: calc(100vh - 110px); /* 调整高度计算，减去顶部元素的总高度 */
    overflow-y: hidden;
    margin-top: -4px; /* 添加负边距来消除白线 */
}

/*页面具体样式自定义*/
.main-content {
    width: calc(100% - 100px);
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 1px;
    flex: 1;
}
/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}